<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">Logo</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="http://localhost/market-booking">หน้าแรก</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">สมัครสมาชิก</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">เข้าสู่ระบบ</a>
        </li>
    </ul>
</nav>