.cover-img {
    text-align: center;
    margin: 0 10px 0 0;
}

.cover-img img.logo {
    width: 1000px;
}

.index-btn {
    display: flex;
    justify-content: center;
}

.index-btn button {
    margin: 10px 10px;
    width: 150px;
}