.login-form {
    margin: 15% 0;
    display: flex;
    justify-content: center;
}

.login-form form {
    width: 45%;
    border: 5px solid lightgray;
    border-radius: 10px;
    padding: 20px 20px;
    /* background-color: lightgray; */
}

.btn-login {
    text-align: center;
}

.btn-login button {
    width: 100px;
}

.btn-goto-register {
    text-align: center;
    margin-top: 10px;
}